<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.xingdata.com/soft/apple/microteashop/dev/MicroTeaShop_Dev.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://www.xingdata.com/soft/apple/microteashop/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://www.xingdata.com/soft/apple/microteashop/icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xingdata.MicroTeaShop</string>
				<key>bundle-version</key>
				<string>4.1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>微茶店,茶叶微店</string>
				<key>title</key>
				<string>微茶店</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
